<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app ="superheroApp" ng-controller="SuperheroController as vm">
  <h1>Superhero Lab</h1>
  <section>
    <label>Find Superhero</label>
    <input type="text" ng-model="search">
  </section>
  <br>
  <section ng-repeat="superhero in vm.superheroes | filter:search" ng-class="superhero.comics_affiliation">
    <img ng-src="{{superhero.image_url}}" alt="{{superhero.name}}" ng-show="superhero == vm.selectedHero">
    <ul>
      <li>{{superhero.name}}</li>
      <li>{{superhero.phone_number}}</li>
      <li>{{superhero.comics_affiliation}}</li>
    </ul>
    <button type="button" ng-click="vm.selectHero(superhero)">select hero</button>
  </section>
</body>
</html>
